/.env
/.idea/*
/__pycache__/*
/data/fs_examples/*
/data/raw_files/*
/data/input_file_ids/*
/data/meta_files/*
/data/schedules/*
/utility/__pycache__/*
/data/outputs/*
/activate_venv.bat
/olds/*
/Untitled.ipynb
/Untitled1.ipynb
/.ipynb_checkpoints
/utility/.ipynb_checkpoints/