/.env
/.idea/*

/__pycache__/*
/.ipynb_checkpoints
/utility/__pycache__/*
/utility/.ipynb_checkpoints/

/data/fs_examples/*
/data/input_file_ids/*
/data/meta_files/*
/data/outputs/*
/data/raw_files/*
/data/schedules/*

/activate_venv.bat

/old/*
/FS_Examples_Preper.ipynb
/PostProcessing.ipynb